@*@{*@
@*ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@







@*var option = new List<SelectListItem>
    {

            new SelectListItem {Text = "Student", Value = "1"},
                new SelectListItem {Text = "Mortgages", Value = "2"},
                new SelectListItem {Text = "Personal", Value = "3"},
                new SelectListItem {Text = "Auto", Value = "4"},
                new SelectListItem {Text = "Small_Business", Value = "5"}

            };



    }


    @model  FinLibrary.Repo.EF.LoanInfo


    @{
        ViewBag.Title = "Home Page";
    }


    <div class="jumbotron jumbotron-fluid">
        <h1>LOAN-COMPARER</h1>
        <h2 class="lead">MAKING MONEY ACCESSIBLE TO ALL </h2>
        <p>Get access to the loan you need at the lowest rate possible</p>
    </div>




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Loan Information</h4>
            <p>Please enter the loan information below</p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LoanType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">*@
@*@Html.EnumDropDownListFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })*@
@*@Html.DropDownList("LoanType", option, new { @class = "form-control-lg" })
                    @Html.ValidationMessageFor(model => model.LoanType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>*@
@*@Html.ActionLink("Back to List", "Index")*@
@*</div>*@

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


@using System.Web.UI.WebControls
@model  FinLibrary.Repo.EF.LoanInfo


<!-- header-end -->
<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7 col-md-6">
                    <div class="slider_text">
                        <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">Get Loan for your Business growth or startup</h3>
                        <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                            @*<a href="#" class="boxed-btn3">How it Works</a>*@
                            @Html.ActionLink("Subscribe", "Sub", "",new { @class ="boxed-btn3" })
                        </div>
                    </div>
                </div>




             

                    <div class="col-lg-5 col-md-6">
                        <div class="payment_form white-bg wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">
                            <div class="info text-center">
                                <h4>How much do you want?</h4>
                                <p>We provide online instant cash loans with quick</p>
                            </div>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form">
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <div class="single_input">
                                                <select class="wide" name="LoanType">
                                                    <option data-display="LoanType">LoanType</option>
                                                    <option value="1">Student</option>
                                                    <option value="2">Mortgages</option>
                                                    <option value="3">Personal</option>
                                                    <option value="4">Auto</option>
                                                    <option value="5">Small Business</option>

                                                </select>
                                                @Html.ValidationMessageFor(model => model.LoanType, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="single_input">
                                                @Html.EditorFor(model => model.Duration, new {htmlAttributes = new {@class = "form-control", @placeholder="Duration"}})
                                                @Html.ValidationMessageFor(model => model.Duration, "", new {@class = "text-danger"})
                                            </div>
                                        </div>


                                        <div class="col-lg-12">
                                            <div class="single_input">
                                                @Html.EditorFor(model => model.Amount, new {htmlAttributes = new {@class = "form-control", PlaceHolder="Amount"}})
                                                @Html.ValidationMessageFor(model => model.Amount, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <p>You have to pay: <span>$0</span></p>
                                <div class="submit_btn">
                                    <button class="boxed-btn3" type="submit">Continue</button>
                                </div>
                            }
                            </div>
            </div>
                



                @*<div class="col-lg-5 col-md-6">
            <div class="payment_form white-bg wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">
                <div class="info text-center">
                    <h4>How much do you want?</h4>
                    <p>We provide online instant cash loans with quick</p>
                </div>


                <div class="form">
                    @Html.AntiForgeryToken()
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="single_input">
                                <select class="wide" name="Amount">
                                    <option data-display="Amount">Amount</option>
                                    <option value="1">Student</option>
                                    <option value="2">Mortgages</option>
                                    <option value="3">Personal</option>
                                    <option value="4">Auto</option>
                                    <option value="5">Small Business</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="single_input">
                                <input type="text" placeholder="Duration" name="Duration" />
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="single_input">
                                <input type="text" placeholder="Amount" name="Amount" />
                            </div>
                        </div>

                    </div>
                </div>
                <p>You have to pay: <span>$0</span></p>
                <div class="submit_btn">
                    <button class="boxed-btn3" type="submit">Continue</button>
                </div>
            </div>
        </div>*@





            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- footer start -->
